<!--1 导入需要的资源 -->
{% extends 'common.html' %}
{% load static %}
{% block content %}
    <div class="commod-cont-wrap">
        <div class="commod-cont w1200 layui-clear">
            <div class="left-nav">
                <div class="title">{{ title }}</div>
                <div class="list-box">
                    {% for jb1 in jb1_fl %}
                        <dl>
                            <dt>{{ jb1.first }}</dt>
                            {% for all in jb_all %}
                                {% if all.first == jb1.first %}
                                    <dd>
                                        <!--请求内放入分类id 关键字默认 -->
                                        <a href="{% url 'showware:showware' %}?fl={{ all.id }}&kw={{ kw }}">{{ all.second }}</a>
                                    </dd>
                                {% endif %}
                            {% endfor %}
                        </dl>
                    {% endfor %}
                </div>
            </div>
            <!--2 -->
            <div class="right-cont-wrap">
                <div class="right-cont">
                    <div class="layui-clear">
                        <a {% if not px or px == "sold" %} class="active" {% endif %}
                                                       href="{% url 'showware:showware' %}?fl={{ fl }}&px=sold&kw={{ kw }}">销量</a>
                        <a {% if px == "price" %} class="active" {% endif %}
                                                  href="{% url 'showware:showware' %}?fl={{ fl }}&px=price&kw={{ kw }}">价格</a>
                        <a {% if px == "created" %} class="active" {% endif %}
                                                    href="{% url 'showware:showware' %}?fl={{ fl }}&px=created&kw={{ kw }}">新品</a>
                        <a {% if px == "likes" %} class="active" {% endif %}
                                                href="{% url 'showware:showware' %}?fl={{ fl }}&px=likes&kw={{ kw }}">收藏</a>
                    </div>
                    <div class="prod-number">
                        <a href="javascript:;">商品列表</a>
                        <span> > </span>
                        <a href="javascript:;">共{{ wareList|length }}件商品</a>
                    </div>
                    <div class="cont-list layui-clear" id="list-cont">
                        {% for p in pages.object_list %}
                            <div class="item">
                                <div class="img">
                                    <a href="{% url 'showware:waredetail' p.id %}"><img height="280" width="280"
                                                                                        src="{{ p.img_main.url }}"></a>
                                </div>
                                <div class="text">
                                    <p class="title">{{ p.name }}</p>
                                    <p class="price">
                                        <span class="pri">￥{{ p.price|floatformat:'2' }}</span>
                                        <span class="nub">{{ p.sold }}人付款</span>
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div id="demo0" style="text-align:center;">
                <div class="layui-box layui-laypage layui-laypage-default" id="layui-laypage-1">
                    {% if pages.has_previous %}
                        <a href="{% url 'showware:showware' %}?px={{ px }}&fl={{ fl }}&kw={{ kw }}&fy={{ pages.previous_page_number }}"
                           class="layui-laypage-prev">上一页</a>
                    {% endif %}
                    {% for page in pages.paginator.page_range %}
                        {% if pages.number == page %}
                            <span class="layui-laypage-curr"><em
                                    class="layui-laypage-em"></em><em>{{ page }}</em></span>
                        {% elif pages.number|add:'-1' == page or pages.number|add:'1' == page %}
                            <a href="{% url 'showware:showware' %}?px={{ px }}&fl={{ fl }}&kw={{ kw }}&fy={{ page }}"
                               class="">{{ page }}</a>
                        {% endif %}
                    {% endfor %}
                    {% if pages.has_next %}
                        <a href="{% url 'showware:showware' %}?px={{ px }}&fl={{ fl }}&kw={{ kw }}&fy={{ pages.next_page_number }}"
                           class="layui-laypage-next">下一页</a>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
{% endblock content %}
{% block script %}
    layui.config({
        base:'{% static 'js/' %}'
    }).use(['mm','laypage','jquery'],function(){
    var laypage=layui.laypage,$=layui.$,mm=layui.mm;
    // 如果级别树的一级标题处于关闭状态，那么取消激活样式，对于打开的级别，赋予激活样式，并将其他同级的下级隐藏
    $('.list-box dt').on('click',function(){
    if($(this).attr('off')){
    $(this).removeClass('active').siblings('dd').show()
    $(this).attr('off','')
    }else{
    $(this).addClass('active').siblings('dd').hide()
    $(this).attr('off',true)
    }
    })
    })
{% endblock script %}